* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --light-green: #C3DFB4;
    --beige: #D59E5A;
    --light: #ECE9EA;
}

body {
    background-color: #C3DFB4;
    background-image: url('../assets/images/bg-image1.jpg');
    background-size: cover;

}





.container {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 {
    text-align: center;
    padding: 15px;
    color: #2C5177;
}


/* Add Task start */
.add-task {
    padding: 15px;
    margin: 20px;
}




.alert-message {
    display: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 30px;
}


.add-task input,
select,
button {
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}



.add-task input {
    padding: 20px 50px;
    background-color: white;
    border: 3px solid var(--light);

}



.add-task .input-warning {
    border: 5px solid rgb(173, 124, 124);

}



.add-task select,
button {
    padding: 5px;
    background-color: var(--light);
    color: black;
}

.add-task button {
    background-color: #2C5177;
    border: 2px solid #2C5177;
    color: white;
}


/* Add Task end */



/* List of task start */

.sort-btn{
    padding: 8px 50px;
    
}

ul {
    list-style-type: none;
}

.hide-ul {
    display: none;
}

li {
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    padding: 10px;
    background-color: #eff0ef;
}



li button,
span,
i {
    margin: 20px;
    text-align: center;

}


.status-button {
    height: 50px;
    border: 2px solid #3E8ACC;
    color: white;
    font-weight: bold;
    background-color: #3E8ACC;

}

.finished-status {
    border: 2px solid #85eb49;
    background-color: #85eb49;
    color: white;

}

.task-title {
    width: 20vw;
    display: inline-block;
    word-break: break-all;
    font-weight: 700;

}

.priority-btn {
    border-radius: 30px;
    padding: 2px 15px;
    background-color: var(--light)
}

.priority-btn.high-priority {

    background-color: red;
    color: white;
}


.delete-btn, .edit-btn {
    font-weight: bold;
    cursor: pointer;
}



/* List of task end */